.chart {
	font-family: 'Arial';
	font-size: 13px;
	color: #eee;
}
.chart > .axis path,
.chart > .axis line {
	fill: none;
	stroke: #eee;
	stroke-width:2;
	shape-rendering: crispEdges;
}
.chart > .axis .tick line {	
	fill: none;
	stroke: #999;
	stroke-width:2;
}
.chart > path.planned {
	 stroke: #529D1C;
	 stroke-width:1;
	 stroke-linecap:round;
}
.chart > path.available {
	 stroke: #D20F1D;
	 stroke-width:1;
	 stroke-linecap:round;
}
.chart > path.actual {
	 stroke: #039be5;
	 stroke-width:2;
	 stroke-linecap:round;
	 fill: none;
	 /*fill: rgba(0,0,0,0.1);*/
}
.chart > .grid .tick line {
    stroke: #eee;
}
.chart .tick text {
    color: #000;
}

